/*------Start Medias Queries------*/
        /*-- 767px --*/
        @media (min-width: 0px) and (max-width: 767px) {
            .visible{
                display: none;
                visibility: hidden;
            }
            .hidden{
                display: block;
                visibility: visible;
            }
            .Nav{
                max-width: 80%;
            }
            .container__slide{
                margin-top: 11%;
            }
            .container__menu{
                width: 65%;
                margin-top: 9%;
            }
            header .Nav img{
                max-width: 40%;
            }
            .nav__link{
                margin-left: 0px;
            }
            .titles__all{
                flex-direction: column;
                justify-content: flex-start;
                margin-bottom: 0;
            }
            .titles p{
                width: 100%;
            }
            .text__card{
                flex-direction: column;
                justify-content: flex-start;
            }
            .Text, .Text p{
                width: 100%;
            }
            .Text h2{
                font-size: 24px;
            }
            .Card{
                width: 100%;
            }
            .img__advertising{
                flex-direction: column;
                justify-content: center;
            }
            .img img{
                max-width: 65%;
                margin: 8% auto 0 auto;
                align-items: center;
            }
            .img h6{
                margin: 0 auto 0 18%;
            }
            .logo__ES{
                max-width: 60%;
                margin: 0 auto 15% 20%;
            }
            .img__comments .slide__comments{
                width: 90%;
                margin: 0 auto;
            }
            .form__faq{
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 10%;
            }
            .faq{
                width: 100%;
            }
            .faq div, .faq .button__accordion{
                width: 100%;
                margin-left: -10%;
            }
            .worked{
                margin: 10% auto 0 auto;
            }
            .logo__icon{
                margin-right: -50%;
            }
            .newsletter{
                flex-direction: column;
            }
            .news img{
                max-width: 100%;
                margin-left: -8%;
            }
            .subscribe{
                margin: 5% auto 2% auto;
            }
            .subscribe__input{
                flex-direction: column;
                align-items: flex-start;
            }
            .subscribe__input input{
                margin: 2% auto;
            }
            .separator{
                width: 95%;
            }
            .logo__text{
                width: 100%;
                flex-direction: column;
            }
            .logo__text p{
                width: 90%;
                margin: 3% auto;
            }
            .terms__policies{
                width: 95%;
                justify-content: flex-start;
            }
            .terms__policies a p{
                font-size: 10px;
            }
          }
        
/*------End Medias Queries------*/
