/*------Start Medias Queries------*/
        /*-- 767px --*/
        @media (min-width: 0px) and (max-width: 767px) {
            .visible{
                display: none;
                visibility: hidden;
            }
            .hidden{
                display: block;
                visibility: visible;
            }
            .container__slide{
                margin-top: 14.5%;
            }
            .container__menu{
                width: 65%;
            }
            .nav__link{
                margin-left: 0px;
            }
            .titles__all{
                justify-content: flex-start;
            }
            .titles p{
                width: 100%;
            }
            .text__card{
                flex-direction: column;
                justify-content: flex-start;
            }
            .Text, .Text p{
                width: 100%;
            }
            .Card{
                width: 100%;
            }
            .img__advertising{
                flex-direction: column;
                justify-content: center;
            }
            .img img{
                max-width: 100%;
                margin-top: 8%;
            }
            .logo__ES{
                max-width: 90%;
                margin-bottom: 15%;
            }
            .img__comments .comments{
                width: 100%;
            }
            .form__faq{
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .faq{
                width: 100%;
            }
            .worked{
                position: absolute;
                top: 3450px;
                left: 50px;
            }
            .logo__icon{
                position: absolute;
                top: 3850px;
                right: 5px;
                max-width: 50%;
            }
            .newsletter{
                margin-top: 80%;
                flex-direction: column;
            }
            .news img{
                max-width: 100%;
                margin-left: -8%;
            }
            .subscribe{
                margin: 5% auto 2% 5%;
            }
            .subscribe button{
                margin-left: -29%;
            }
            .logo__text{
                width: 100%;
                flex-direction: column;
            }
            .logo__text p{
                width: 90%;
                margin: 3% auto;
            }
            .terms__policies{
                width: 95%;
                justify-content: flex-start;
            }
          }
        
/*------End Medias Queries------*/
