*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.visible{
    display: block;
    visibility: visible;
}
.hidden{
    display: none;
    visibility: hidden;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1500;
}

nav{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  background-color: #FFFFFF;
  padding: 0.5rem;
  max-width: 100%;
}

nav span{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: 0.4s ease-out;
}

.line__1, .line__2, .line__3{
  width: 25px;
  height: 3px;
  background-color: #555555;
  margin: 2px 0;
  transition: 0.4s ease-out;
}

.change .line__1{
  transform: rotate(-45deg) translate(8px, -7px);
  position: absolute;
}

.change .line__2{
  opacity: 0;
}

.change .line__3{
  transform: rotate(45deg) translate(-7px, -8px);
  position: absolute;
}

.container__menu{
  background-color: #FFFFFF;
  width: 25%;
  height: 99vh;
  transition: 0.5s;
  transform: translateX(-100%);
}

.pregnancy h2, .education h2{
  color: #B378FF;
  font-weight: bold;
}
.pregnancy hr, .education hr{
  color: #486DB7;
}

.nav__link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
  width: 100%;
  padding: 8px;
}

.nav__item{
  list-style: none;
  text-decoration: none;
  color: #555555;
  padding: 8px;
}

.nav__item:hover{
  background-color: #486db76e;
  padding: 8px;
}

.take__off{
  transform: translateX(0%);
}

.slide img{
    width: 100%;
}
/*----- Slider Style -----*/
.container__slide > .slide > .item__slide > img {max-width: 100%;}

.container__slide{
  position: relative;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 3.5%;
}

.slide{
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 750ms;
  animation-name: autoplay;
  animation-duration: 35s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.item__slide{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
}


@keyframes autoplay{
  20%{
      transform: translate3d(calc(-100% * 0), 0, 0);
  }
  
  40%{
      transform: translate3d(calc(-100% * 1), 0, 0);
  }
  
  60%{
      transform: translate3d(calc(-100% * 2), 0, 0);
  }
  
  80%{
    transform: translate3d(calc(-100% * 3), 0, 0);
  }

  100%{
    transform: translate3d(calc(-100% * 4), 0, 0);
  }
}
/*----- Slider Style -----*/

.image h1, h2{
    margin: -50% 0 2% 5%; 
    color: #FFFFFF; 
}
.image h1{font-size: 3.5vw; font-weight: bold; width: 30%;}
.image h2{font-size: 2.3vw; font-weight: bold; width: 30%;}
.image p{font-size: 1.5vw; width: 30%; margin: 2% 0 0 5%; color: #FFFFFF;}
.image span{color: #F778B9;}

.container__all{
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
}

.titles__all{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.titles h1{
  margin: 2% 0;
}
.titles p{
  width: 50%;
  color: #000000;
  margin: 1% 0;
}
.titles button{
  padding: .5rem;
  border-radius: .5rem;
  background-color: #555555;
  color: #FFFFFF;
  margin: 1% 0;
}
.excerp{
  border-left: .125rem solid #486DB7;
}
.excerp p{
  margin-left: 5%;
}
.excerp p{
  width: 288px;
  color: #000000;
}

.text__card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2% 0;
}
.Text{
  width: 72%;
  margin: 3% 0;
}
.Text p{
  width: 45%;
}
.Text h2{
  color: #486DB7;
  margin: 1% 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -2%;
}
.Text p{
  color: #414141;
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 2%;
}
.Text p span{
  color: #B378FF;
}
.Card{
  width: 18%;
}
.Card h4{
  color: #273B63;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1%;
  font-weight: bold;
}
.Card h6{
  color: #65BAA6;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 8%;
}
.Card p{
  color: #414141; 
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 2%;
}

.img__advertising{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.advertising{
  max-width: 100%;
}
.img h6{
  color: #7D7D7D;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
.img__comments .comments{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 15%;
}
.comments p{
  color: #414141;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 2%;
}
.comments h4{
  color: #414141;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  font-weight: bold;
}
.logo__ES{
  margin-top: 25%;
}

.worked{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: -7%;
}

.form__faq{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.faq p{
  color: #414141;
  font-weight: bold;
  font-size: 1.5vh;
  line-height: 32px;
  letter-spacing: -2%;
  margin-right: 10%;
}
.faq{
  width: 35%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 20%;
}
.logo__icon{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.long__advertising{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.newsletter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  background-color: #ECF0F7;
}
.subscribe button{
  margin-left: -24%;
  padding: 6px;
}
.subscribe input{
  padding: 8px;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #265E6C;
}
.logo__text{
  width: 70%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo__text p{
  width: 30%;
  margin-left: 5%;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -2%;
}
.terms__policies{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.terms__policies a p{
  color: #FFFFFF;
  font-size: 1.5vh;
  line-height: 24px;
  letter-spacing: 2%;
}