@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,300&family=Source+Code+Pro&family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
  background-color: #E5E5E5;
}

.visible{
    display: block;
    visibility: visible;
}
.hidden{
    display: none;
    visibility: hidden;
}

.Row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1500;
}

.Nav{
  justify-content: space-around;
  background-color: #FFFFFF;
  padding: 0.5rem;
}

nav span{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: 0.4s ease-out;
}

.line__1, .line__2, .line__3{
  width: 25px;
  height: 3px;
  background-color: #555555;
  margin: 2px 0;
  transition: 0.4s ease-out;
}

.change .line__1{
  transform: rotate(-45deg) translate(8px, -7px);
  position: absolute;
}

.change .line__2{
  opacity: 0;
}

.change .line__3{
  transform: rotate(45deg) translate(-7px, -8px);
  position: absolute;
}

.container__menu{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  background-color: #FFFFFF;
  width: 25%;
  height: 99vh;
  transition: 0.5s;
  transform: translateX(-100%);
  margin-top: 2.6%;
}

.pregnancy h2, .education h2{
  color: #B378FF;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 32px;
  letter-spacing: 2%;
  font-size: 24px;
}
.pregnancy hr, .education hr{
  color: #486DB7;
}

.nav__link{
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  width: 100%;
  padding: 8px;
}

.nav__item{
  list-style: none;
  text-decoration: none;
  color: #555555;
  padding: 8px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 24px;
  letter-spacing: 2%;
  font-size: 16px;
}

.nav__item:hover{
  background-color: #486db76e;
  padding: 8px;
}

.take__off{
  transform: translateX(0%);
}

#searchBar{
  padding: 8px;
  border-radius: 10px;
}

#searchBar input[type=text] {
   width: 30%;
   -webkit-transition: width 0.15s ease-in-out;
   transition: width 0.15s ease-in-out;
}

#searchBar input[type=text]:focus {
  width: 70%;
}

#list{
 font-size:  1.5em;
 margin-left: 90px;
}

.text__ol{
display: list-item;
width: 300px;
color: #414141;
font-size: 16px;
font-family: 'Source Sans Pro', sans-serif;
line-height: 24px;
letter-spacing: 2%;
} 

#list a {
  text-decoration: none;
  color: #414141;
}
.slide img{
    width: 100%;
}
/*----- Slider Style -----*/
.container__slide > .slide > .item__slide > img {max-width: 100%;}

.container__slide{
  position: relative;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.slide{
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 750ms;
  animation-name: autoplay;
  animation-duration: 35s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.item__slide{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
}


@keyframes autoplay{
  20%{
      transform: translate3d(calc(-100% * 0), 0, 0);
  }
  
  40%{
      transform: translate3d(calc(-100% * 1), 0, 0);
  }
  
  60%{
      transform: translate3d(calc(-100% * 2), 0, 0);
  }
  
  80%{
    transform: translate3d(calc(-100% * 3), 0, 0);
  }

  100%{
    transform: translate3d(calc(-100% * 4), 0, 0);
  }
}
/*----- Slider Style -----*/

.image h1, h2{
    margin: -40% 0 2% 5%; 
    color: #FFFFFF; 
}
.image h1{font-size: 3.5vw; font-weight: bold; width: 30%;}
.image h2{font-size: 2.3vw; font-weight: bold; width: 30%;}
.image p{font-size: 1.5vw; width: 30%; margin: 2% 0 0 5%; color: #FFFFFF; font-family: 'Source Code Pro', monospace;}
.image span{color: #F778B9;}

.container__all{
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
}

.titles__all{
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: -15%;
}
.titles h1{
  margin: 2% 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -2%;
  line-height: 40px;
  color: #000000;
}
.titles h3{
  font-family: 'Source Sans Pro', sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -2%;
}
.titles p{
  width: 80%;
  color: #000000;
  margin: 1% 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  letter-spacing: -2%;
  line-height: 24px;
}
.titles .text__regular{
  display: block;
}
.titles .text__bold{
  font-weight: bold;
  display: none;
}
.titles__all .button{
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #696969;
  color: #FFFFFF;
}
.excerp{
  border-left: 2px solid #486DB7;
  margin: 2% auto;
}
.excerp h4{
  color: #486DB7;
  margin-left: 5%;
  text-align: justify;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 32px;
  letter-spacing: -2%;
}

.text__card{
  justify-content: space-between;
  margin: 2% auto;
}
.Text{
  width: 70%;
  margin: 3% 0;
}
.Text p{
  width: 60%;
}
.Text h2{
  color: #486DB7;
  margin: 1% 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -2%;
  font-family: 'Source Sans Pro', sans-serif;
}
.Text p{
  color: #414141;
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 2%;
  font-family: 'Merriweather', serif;
}
.Text p span{
  color: #B378FF;
}
.Card{
  width: 18%;
  margin: 0 auto;
}
.Card h4{
  color: #273B63;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2%;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
} 
.Card h6{
  color: #F778B9;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 8%;
  font-family: 'Source Sans Pro', sans-serif;
}
.Card p{
  color: #414141; 
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 2%;
  font-family: 'Merriweather', serif;
}

.img__advertising{
  justify-content: space-between;
  flex-wrap: nowrap;
}
.advertising{
  max-width: 100%;
}
.img{
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}
.img h6{
  color: #7D7D7D;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  font-family: 'Source Sans Pro', sans-serif;
}
.slide__comments{
  width: 90%;
  max-width: 120em;
  padding: 2em;
  color: #000000;
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: #E5E5E5;
  overflow: hidden;
}
.content__comments{
  width: 400%;
  justify-content: space-between;
  color: #FFFFFF;
  transition: all 0.4s ease;
  border-radius: 1em;
  transition: all 0.5s ease;
  transform: translateX(0%);
}
.comments{
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin: 0 2.5%;
  min-height: 50vh;
  color: #FFFFFF;
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: #E5E5E5;
  padding: 8px;
}
.comments p{
  color: #414141;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 2%;
  font-family: 'Merriweather', serif;
  font-weight: 300;
}
.comments h4{
  color: #414141;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}
.content__radius{
  width: 100%;
  margin: 1em 0 0;
  padding: 0.4em;
  flex-flow: row nowrap;
}
.content__radius .radius{
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: #CACACA;
  list-style: none;
}
.content__radius .radius.active{
  background-color: #696969;
}

.logo__ES{
  margin: 25% auto 0 auto;
}

.up{
  position: fixed;
  line-height: 64px;
  bottom: 5px;
  right: 34px;
  text-align: center;
  z-index: 1000;
}
.worked{
  justify-content: flex-end;
  margin: -7% 0 0 auto;
}

.form__faq{
  align-items: flex-start;
}
.Form{
  flex-direction: column;
  align-items: flex-start;
}
.Form h2{
  color: #414141; 
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -2%;
}
  
.Form input, textarea{
  margin: 5% 0 0 0;
  border-radius: 8px;
  border: 1px solid #273B63;
  padding: 8px;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
}
.Form .name__surname{
  justify-content: space-between;
}
.Form .button{
  width: 100%;
  margin-top: 3%;
  border: 1px solid #696969;
  background-color: #696969;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  padding: 8px;
}
.Form select{
  margin-top: 5%;
  border: 1px solid #273B63;
  border-radius: 8px;
  padding: 8px;
}
.faq p{
  color: #414141;
  font-weight: bold;
  font-size: 1.5vh;
  line-height: 32px;
  letter-spacing: -2%;
  font-family: 'Source Sans Pro', sans-serif;
  margin-right: 10%;
}
.faq{
  width: 100%;
  margin: 5% 0 0 20%;
}
.faq div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 65%;
}
.faq .accordion{
  background-color: #E5E5E5;
  padding: 8px;
}
.faq .accordion .accordion__panel{
  width: 100%;
  padding: 8px;
  margin: 0 0 1% 0;
  background-color: #cacaca9d;
}
.faq .accordion .accordion__tittle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  border-bottom: 4px dashed #000000;
  outline: none;
  margin: 0;
  padding: 2px;
  cursor: pointer;
}
.accordion__tittle:hover{
  background-color: #afaeae;
}
.accordion__tittle h6{
  color: #414141;
  font-weight: bold;
  text-align: left;
  font-size: 16px;
}
.faq .accordion .accordion__text{
  width: 100%;
  margin: 3% 0;
  padding: 0px;
  height: 0px;
  overflow: hidden;
  transition: all .5s ease;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -2%;
  font-size: 12px;
  color: #414141;
}
.faq .accordion .accordion__panel.active .accordion__text{
  height: 100px;
}

.logo__icon{
  justify-content: flex-end;

}

.newsletter{
  margin-top: 3%;
  background-color: #ECF0F7;
}
.subscribe{
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}
.subscribe h3{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -2%;
  font-size: 24px;
  color: #555555;
}
.subscribe p{
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 2%;
  color: #324B7F;
}
.subscribe .button{
  border-radius: 8px;
  border: 1px solid #696969;
  background-color: #696969;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  padding: 8px;
}

.subscribe input{
  padding: 8px;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #265E6C;
}
.logo__text{
  width: 70%;
  margin-top: 2%;
}
.logo__text p{
  width: 30%;
  margin-left: 5%;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -2%;
  font-family: 'Merriweather', serif;
}
.separator{
  justify-content: space-between;
  width: 80%;
  margin: 2% auto;
}
.separator div{
  width: 10px;
  height: 0;
  border-top: #337E93 20px solid;
  transform: skew(-45deg);
  -webkit-clip-path: polygon(0 0, 96% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 96% 0, 100% 100%, 0% 100%);
}
.terms__policies{
  width: 70%;
  justify-content: space-between;
}
.terms__policies a p{
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  font-family: 'Source Sans Pro', sans-serif;
}
